.App {
  font-family: sans-serif;
  text-align: center;
}

label, label input {
  font-family: sans-serif;
}

input {
  width: 90%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

button.submitFenButton {
  margin-bottom: 0.8em;
  padding: 0.5em;
}

.validation-container {
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.errorMessage {
  color: #EE0000;
  padding-left: 0.5em;
  font-size: 80%;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square_w {
  background: #fff;
}

.square_b {
  background: #AAA;
}

.square_marked {
  background: #EE0;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

